In [1]:
from fake import SynthethicData
import pandas as pd

## Generate Synthetic data

In [2]:
synthetic_data = SynthethicData(num_records=200).data

## Convert synthetic to pandas dataframe

In [3]:
df = pd.DataFrame(synthetic_data)

In [4]:
df.head()

,id,first_name,last_name,date_of_birth,address_line1,address_line2,city,state,country,email_id
0,fe67aedf-9721-4331-9c5e-10388e8acc39,Soledad,None,1984-06-19,Pasadizo de Yésica Amo 254 Apt. 18,None,Huelva,Córdoba,TM,vdieguez@example.org
1,7e4064ad-a109-433c-80fe-ccc981fe8695,Zaira,None,2005-09-21,Acceso Lorena Bartolomé 813,C. Toribio Hidalgo 96 Piso 0,Guipúzcoa,Valencia,NA,feliciasosa@example.org
2,3d0335f8-24d0-4c88-8b50-c8e778b191f5,Héctor,None,1939-08-21,Callejón Celia Valderrama 57 Puerta 7,None,Castellón,Zamora,NG,andrespalacio@example.com
3,83d2921c-d0df-4945-b75f-1ecf774c2b44,Zaida,Lago,1990-05-03,Rambla de Vera Viana 3 Apt. 38,None,Cantabria,Cádiz,BR,azenethminguez@example.net
4,af8bb471-3797-4df8-93d2-6d6aef73e4ba,Fabián,Belmonte,1951-08-02,Urbanización de Bernardita Saura 54,Plaza Pastor Coca 70 Piso 9,Ciudad,Las Palmas,KZ,chuchocampos@example.com

## Generate csv file

In [6]:
df.to_csv('output/customer_synthetic_data.csv', index=False)

## Explore generated data

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             200 non-null    object
 1   first_name     200 non-null    object
 2   last_name      85 non-null     object
 3   date_of_birth  200 non-null    object
 4   address_line1  200 non-null    object
 5   address_line2  90 non-null     object
 6   city           200 non-null    object
 7   state          200 non-null    object
 8   country        200 non-null    object
 9   email_id       200 non-null    object
dtypes: object(10)
memory usage: 15.8+ KB

## Null Count