## CTGAN - Conditional Table Generative Adversial Network

In [1]:
import sys
import os

sys.path.insert(1, os.path.dirname(os.getcwd()))

In [2]:
from cgan import CTGANSyntheticData

In [6]:
cgan = CTGANSyntheticData(num_records=200)

INFO: Intializing CTGANSynethicData class
INFO: df sample data
INFO: Metadata {
    "tables": {
        "person": {
            "columns": {
                "id": {
                    "sdtype": "id"
                },
                "first_name": {
                    "sdtype": "first_name",
                    "pii": true
                },
                "last_name": {
                    "sdtype": "last_name",
                    "pii": true
                },
                "date_of_birth": {
                    "sdtype": "unknown",
                    "pii": true
                },
                "address_line1": {
                    "sdtype": "street_address",
                    "pii": true
                },
                "address_line2": {
                    "sdtype": "secondary_address",
                    "pii": true
                },
                "city": {
                    "sdtype": "city",
                    "pii": true
                },
                "state": {
                    "sdtype": "administrative_unit",
                    "pii": true
                },
                "country": {
                    "sdtype": "categorical"
                },
                "email_id": {
                    "sdtype": "email",
                    "pii": true
                }
            },
            "primary_key": "id"
        }
    },
    "relationships": [],
    "METADATA_SPEC_VERSION": "V1"
}

/Users/sharattadimalla/github/synthetic-data/myenv/lib/python3.11/site-packages/sdv/single_table/base.py:105: UserWarning: We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.
  warnings.warn(

INFO: Completed Training CTGAN
INFO: Completed sample generation using CTGAN

In [7]:
synthetic_data = cgan.synthetic_data

In [4]:
synthetic_data

,id,first_name,last_name,date_of_birth,address_line1,address_line2,city,state,country,email_id
0,sdv-id-sNPEPe,Claire,Jones,sdv-pii-remem,730 Curry Falls Suite 281,NaN,Sandraton,Virginia,NaN,dianamason@example.org
1,sdv-id-OCAVOE,Felicia,NaN,sdv-pii-5xe8l,118 Lewis Lights Suite 255,NaN,New Amandaton,South Dakota,USA,frederick14@example.org
2,sdv-id-neGCID,Francisco,Foley,sdv-pii-t75ze,0021 Garcia Ways Apt. 041,NaN,Kimberlychester,Nebraska,US,michellejones@example.org
3,sdv-id-AnBhKA,Troy,Smith,sdv-pii-guwl6,65295 Weiss Gardens,NaN,Lindaside,North Dakota,USA,troy28@example.net
4,sdv-id-CBFkkr,Jason,NaN,sdv-pii-ljglt,1101 Michael Crossroad Suite 320,NaN,Weissburgh,New Mexico,NaN,pamela19@example.net
...,...,...,...,...,...,...,...,...,...,...
195,sdv-id-GSRWbg,Amanda,NaN,sdv-pii-cgron,3130 Patricia Locks,NaN,Lawsonmouth,New Jersey,US,bethany02@example.org
196,sdv-id-NJyGGk,Sean,Hoffman,sdv-pii-2uqht,12280 Vargas Drive,NaN,South Nicholasmouth,Ohio,USA,leesimmons@example.net
197,sdv-id-kZKXPg,James,Diaz,sdv-pii-dg3v6,64781 Donovan Locks Suite 430,NaN,Christinafurt,Connecticut,US,adamgomez@example.net
198,sdv-id-sxPSvU,Debra,Young,sdv-pii-wcmn8,1080 Joshua Light,NaN,East Rachelchester,Mississippi,NaN,griffinchristian@example.com
199,sdv-id-OeLxLH,Alex,Davis,sdv-pii-bgcp7,53034 Zachary Bridge,NaN,Smithville,New Jersey,US,austinlogan@example.com

In [9]:
from sdv.evaluation.single_table import run_diagnostic, evaluate_quality
from sdv.evaluation.single_table import get_column_plot

# 1. perform basic validity checks
diagnostic = run_diagnostic(cgan.df, synthetic_data, cgan.metadata)
diagnostic

Generating report ...

(1/2) Evaluating Data Validity: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 2174.34it/s]|
Data Validity Score: 100.0%

(2/2) Evaluating Data Structure: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 92.12it/s]|
Data Structure Score: 100.0%

Overall Score (Average): 100.0%

In [ ]:
diagnostic.get_details(property_name="Data Validity")

    Column             Metric  Score
0       id      KeyUniqueness    1.0
1  country  CategoryAdherence    1.0

In [ ]:
# 2. measure the statistical similarity
quality_report = evaluate_quality(cgan.df, synthetic_data, cgan.metadata)

Generating report ...

(1/2) Evaluating Column Shapes: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 498.66it/s]|
Column Shapes Score: 89.47%

(2/2) Evaluating Column Pair Trends: |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 45/45 [00:00<00:00, 3632.20it/s]|
Column Pair Trends Score: nan%

Overall Score (Average): 89.47%

In [ ]:
quality_report.get_details(property_name="Column Shapes")

    Column        Metric     Score
0  country  TVComplement  0.894657