## CTGAN - Conditional Table Generative Adversial Network

In [1]:
import sys
import os

sys.path.insert(1, os.path.dirname(os.getcwd()))

In [3]:
from synthetic_data.fake import SynthethicData

In [ ]:
synthetic_data = SynthethicData(num_records=200, method="ctgan").data

/Users/sharattadimalla/github/synthetic-data/myenv/lib/python3.11/site-packages/sdv/single_table/base.py:105: UserWarning: We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.
  warnings.warn(

In [5]:
synthetic_data

,id,first_name,last_name,date_of_birth,address_line1,address_line2,city,state,country,email_id
0,sdv-id-lGDxOO,Thomas,Smith,sdv-pii-qre6z,4416 Scott Center,NaN,Huynhburgh,Alaska,NaN,xglover@example.net
1,sdv-id-IrkUbQ,Natalie,NaN,sdv-pii-89pb0,272 Rodriguez Knolls Suite 349,NaN,Georgeton,Vermont,USA,dwaynevasquez@example.org
2,sdv-id-AOJlUA,Amber,Martin,sdv-pii-q5rcc,23558 Williams Unions Suite 229,NaN,Weissmouth,Florida,US,callahankeith@example.org
3,sdv-id-BhPKhe,Mark,Ferguson,sdv-pii-v5ycb,049 Bailey Passage,NaN,Gregburgh,North Dakota,USA,schneideredward@example.com
4,sdv-id-hbwnSe,Patrick,NaN,sdv-pii-z7kzo,195 Greg Rue Apt. 276,NaN,Brewerside,Rhode Island,NaN,johnathan83@example.net
...,...,...,...,...,...,...,...,...,...,...
195,sdv-id-oMbpXj,Bonnie,NaN,sdv-pii-akhdz,3610 Payne Unions Suite 083,NaN,Sandyborough,Minnesota,US,masonrhonda@example.com
196,sdv-id-TmycGD,Colleen,Morris,sdv-pii-dhmhb,38702 Lee Wells Suite 135,NaN,North Sara,Alaska,USA,mjohnson@example.net
197,sdv-id-GuDmBq,Darrell,Taylor,sdv-pii-wgfcj,484 Duncan Turnpike,NaN,Williamsbury,Oregon,US,murphymelissa@example.org
198,sdv-id-wNSdHW,Brandi,Peck,sdv-pii-k0v4e,148 Barker Extension Suite 767,NaN,Bishopland,New York,US,bushbenjamin@example.net
199,sdv-id-ePrzJS,Christopher,Hill,sdv-pii-5dn3x,0643 James Hollow,NaN,Jacobberg,Missouri,USA,timothynolan@example.org